[run]
omit = 
        ./snappysonic/_version.py
        ./snappysonic/__init__.py
        ./snappysonic/__main__.py
        ./snappysonic/ui/snappysonic_command_line.py
        ./snappysonic/ui/snappysonic_demo.py
