[run]
omit = 
        ./sksurgerytorsosimulator/_version.py
        ./sksurgerytorsosimulator/__init__.py
        ./sksurgerytorsosimulator/__main__.py
        ./sksurgerytorsosimulator/ui/sksurgerytorsosimulator_command_line.py
        ./sksurgerytorsosimulator/ui/sksurgerytorsosimulator_demo.py
