# This file lists the python packages that your software depends on.
# It is used by pip to manage software dependencies. It is not to be
# confused with the software requirements, which are listed in
# doc/requirements.rst
scikit-surgeryutils>=2.0rc0
scikit-surgerynditracker
scikit-surgeryarucotracker
scikit-surgeryimage>=0.6.0
PySide6
numpy
opencv-contrib-python-headless
